<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chit-Chat</title>
    <link rel="stylesheet" href="/chat-style.css" />
  </head>
  <body>
    <div class="container">
      <div class="chat-box">
        <h3 class="title">Chit-Chat</h3>
        <form method="GET" action="/chats/new">
          <div class="new-chat-button">
            <button class="new-chat">new chat</button>
          </div>
        </form>
        <% for (chat of chats) { %>
        <div class="msg-box">
          <i><p>From : <%= chat.from %></p></i>
          <div class="msg">
            <b><p><%= chat.message %></p></b>
            <div class="btns">
              <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button class="edit-btn">edit</button>
              </form>
              <form
                method="POST"
                action="/chats/<%= chat._id %>?_method=DELETE"
              >
                <button class="delete-btn">Delete</button>
              </form>
              <form action="/chats/<%= chat._id %>" method="GET">
                <button>Show</button>
              </form>
            </div>
          </div>
          <i><p>To : <%= chat.to %></p></i>
          <p>
            Date : <%= chat.created_at.toString().split(" ")[4] %>&nbsp;&nbsp;
            <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %>
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
